services:
  etl-python:
    build:
      context: ./sw_etl
      dockerfile: ./Dockerfile
    volumes:
      - ./sw_etl/traject/data:/app/data
    working_dir: /app
  etl-traject:
    build:
      context: ./sw_etl/traject
      dockerfile: ./Dockerfile
    working_dir: /traject
    env_file: ./sw_etl/.env.development
    volumes:
      - ./sw_etl/traject/data:/data    
  blacklight:
    build:
      context: ./blacklight_front
      dockerfile: ./Dockerfile
    depends_on:
      - etl-python
      - etl-traject
    ports:
      - 3000:3000
networks:
  default:
    external: true
    name: spokenweb_network
