services:
  solr:
    build:
      context: ./solr_backend
      dockerfile: ./Dockerfile
    ports:
      - 8983:8983
    post_start:
      - command: ["sh", "./post_start.sh"]
      # - command: ["solr", "create_core", "-c", "swallow2", "-d", "/custom-conf/"]
    # command: ["bash"]
    # This healthcheck will only work for dev setup
    # In production, use environement variables instead.
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8983/solr/swallow2/admin/ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    # backups path
    volumes:
      - ./solr_backend/data:/var/solr/data
      
  etl:
    build:
      context: ./etl
      dockerfile: Dockerfile
    volumes:
      - ./etl/data:/etl/data
      - ./etl/fetch:/etl/fetch
      - ./etl/:/etl/
    # depends_on:
    #   - solr

  blacklight:
    build:
      context: ./blacklight_front
      dockerfile: ./Dockerfile
    # depends_on:
    #   - solr
    #   - etl
    ports:
      - 3000:3000
