services:
  etl-python:
    build:
      context: ./sw_etl
      dockerfile: ./Dockerfile
    volumes:
      - ./sw_etl/traject/data:/app/data
    working_dir: /app
    healthcheck:
      test: ["CMD-SHELL", "test -f /app/data/output/swallow-data-full.xml"]
      interval: 10s
      timeout: 1000s
      retries: 3
      start_period: 20s
  etl-traject:
    build:
      context: ./sw_etl/traject
      dockerfile: ./Dockerfile
    working_dir: /traject
    depends_on:
      etl-python:
        condition:
          service_healthy
    volumes:
      - ./sw_etl/traject/data:/data    
  blacklight:
    build:
      context: ./blacklight_front
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
networks:
  default:
    external: true
    name: spokenweb_network
