services:
  solr:
    build:
      context: ./solr_backend
      dockerfile: ./Dockerfile
    ports:
      - 8983:8983
    post_start:
      - command: ["solr", "create_core", "-c", "swallow2", "-d", "/custom-conf/" ]
    # This healthcheck will only work for dev setup
    # Use environement variables instead.
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8983/solr/swallow2/admin/ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
      
  etl:
    build:
      context: ./etl
      dockerfile: Dockerfile
    volumes:
      - ./etl/data:/etl/data
    depends_on:
      - solr

  blacklight:
    build:
      context: ./blacklight_front
      dockerfile: ./Dockerfile
    depends_on:
      - solr
      - etl
    ports:
      - 3000:3000
