<div class="MainPage" >
  <div class="container homepage">
    <h1 class="homepage-heading">SpokenWeb Search Engine</h1>
    <h2 class="homepage-subheading">
      Collections of Literary Audio and Video Recordings in Canada
    </h2>
    <p class="homepage-description">
      SpokenWeb is a research partnership that collaborates on the development of audiovisual collections documenting literary events and activities that have taken place in Canada since the 1950s. 
      These collections are held at organizations and institutions across the country. 
      Metadata about the recordings are held in the SpokenWeb Swallow Database. The contents of this database are made available to you through this SpokenWeb Search Engine which works as a directory to information about the recordings, and in some cases to the audiovisual materials themselves.
      <br> <br> 
      The SpokenWeb Search Engine allows users to search collections of literary sound recordings held at organizations and institutions across Canada. Metadata about the recordings are held in the SpokenWeb Swallow Database. The contents of this database are made available through this SpokenWeb Search Engine which works as a directory to information about the recordings, and in some cases to the audiovisual materials themselves. 
      <br> <br>
      Do you know of or hold a collection of literary audio or video that you can’t find here? If you would like it to be added to
      the SpokenWeb directory please contact us at <a href="mailto:spokenwebcanada@gmail.com">spokenwebcanada@gmail.com.</a>
      <br> <br>
      Please report any bugs that you may find, either navigating the site or in our data, via our <a href="https://forms.gle/gFEpqsMuerJ5TLSt5" target="_blank"> Online Ticketing Form!
    </p>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    Blacklight.onLoad(function() {
        $('#about .card-header').one('click', function() {
            $($(this).data('target')).load($(this).find('a').attr('href'));
        });
    });



</script>



